<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup

import data from "@/data/data.js";


import { ref } from 'vue'

const drawer = ref(true)


const rail = ref(true)

type locationType = 'left' | 'right' | 'bottom' | 'start' | 'end';
let defaultLocation: locationType = 'left'
const location = ref(defaultLocation)


const materia_selected = ref(null)
const nucleo_selected = ref(null)
const classe_selected = ref(null)

const materia = ref(null)
const nucleo = ref(null)
const classe = ref(null)

const copied = ref({})



const materie = () => { return data }
const nuclei = () => {
  if (materia.value) return materia.value.nuclei
  return []
}
const classi = () => {
  if (nucleo.value) return nucleo.value.classi
  return []
}

const valutazioni = () => {
  if (classe.value) return classe.value.valutazioni
  return []
}

const switchMenuSide = () => {
  console.log(location)
  if (location.value == 'left')
    (location.value = 'right')
  else if (location.value == 'right')
    (location.value = 'left')
}




// const valutazioni_filtered = () => {
//   return data.filter((materia)=>{
//     return materia.label == materia_selected.value
//   })
// }


const setFirstMateria = () => {
  materia_selected.value = data[0].label
  materia.value = data[0]
}
const setFirstNucleo = () => {
  nucleo_selected.value = data[0].nuclei[0].label
  nucleo.value = materia.value.nuclei[0]
}
const setFirstClasse = () => {
  classe_selected.value = data[0].nuclei[0].classi[0].label
  classe.value = nucleo.value.classi[0]
}

setFirstMateria()
setFirstNucleo()
setFirstClasse()


const setMateria = (label: string) => {
  materia_selected.value = label
  materia.value = data.find((mmm) => {
    return mmm.label == materia_selected.value
  })
  setFirstNucleo()

}

const setNucleo = (label: string) => {
  nucleo_selected.value = label
  nucleo.value = materia.value.nuclei.find((nnn) => {
    return nnn.label == nucleo_selected.value
  })
}

const setClasse = (label: string) => {
  classe_selected.value = label

  classe.value = nucleo.value.classi.find((ccc: any) => {
    return ccc.label == classe_selected.value
  })
}

const copy2clip = (txt: string) => {
  navigator.clipboard.writeText(txt)
  copied.value[txt] = true
  setTimeout(() => {
    copied.value[txt] = false
  }, 300)
}

const getColorByIndex = (index: number) => {
  if (index == 0) return "green"
  if (index == 1) return "lime"
  if (index == 2) return "yellow"
  if (index == 3) return "orange"
  return "orange"
}







</script>

<template>
  <v-card>
    <v-layout>


      <v-navigation-drawer v-model="drawer" :rail="rail" permanent :location="location" @mouseover="rail = false"
          @mouseleave="rail = true">

        <v-list density="compact" nav>
          <v-list-item title="Valutazioni" class="text-primary" prepend-icon="mdi-certificate">

            <template v-slot:append>
              <v-btn variant="text" :icon="'mdi-swap-horizontal'" @click="switchMenuSide()"></v-btn>
            </template>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>


        <v-list density="compact" nav class="variable-list">
          <v-list-item v-for="(item) in nuclei()" :key="item.label" :title="item.label"
              :class="{ 'text-red': item.label == nucleo_selected }" @click="setNucleo(item.label)"
              :prepend-icon="'mdi-alpha-' + item.label.charAt(0).toLowerCase() + '-box'">
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav class="variable-list">
          <v-list-item v-for="(item) in materie()" :key="item.label" :title="item.label"
              :class="{ 'text-red': item.label == materia_selected }" @click="setMateria(item.label)"
              :prepend-icon="'mdi-alpha-' + item.label.charAt(0).toLowerCase() + '-box'">
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list density="compact" nav class="variable-list">
          <v-list-item v-for="(item) in classi()" :key="item.label" :title="item.label"
              :class="{ 'text-red': item.label == classe_selected }" @click="setClasse(item.label)"
              :prepend-icon="'mdi-numeric-' + item.label.charAt(0).toLowerCase() + '-box'">
          </v-list-item>
        </v-list>



      </v-navigation-drawer>


      <v-main style="min-height: 250px" class="d-flex flex-column">
        <v-toolbar color="primary" density="compact">
          <v-toolbar-title>
            {{ nucleo_selected }} -
            {{ materia_selected }} -
            classe {{ classe_selected }}ª


          </v-toolbar-title>

        </v-toolbar>
        <v-row dense>
          <v-col>
            <v-card v-for="card, index in valutazioni()" :key="card" @click="copy2clip(card)" class="ma-3">

              <v-toolbar density="compact" :color="getColorByIndex(index)">


                <v-tooltip text="Clicca una volta (ovunque sulla card) per copiare il testo">
                  <template v-slot:activator="{ props }">
                    <v-btn icon v-bind="props">
                      <v-icon>mdi-content-copy</v-icon>
                    </v-btn>
                  </template>
                </v-tooltip>

                <v-toolbar-title v-if="copied[card]" transition="fade-transition">
                  copiato
                </v-toolbar-title>

              </v-toolbar>
              <v-card-text>
                <p class="unselectable">{{ card }}</p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-spacer></v-spacer>
        <v-row>
          <v-col>
            <p class="ma-3 text-grey">
              <i>Technology should make life easier. </i>🖖
            </p>
          </v-col>
        </v-row>
      </v-main>

    </v-layout>
  </v-card>
</template>

<style scoped>
.v-btn--size-default {
  /* --v-btn-size: 0.875rem;
    --v-btn-height: 36px;
    font-size: 0.875rem; */
  min-width: 3em;

}

.v-main {
  height: 100vh;
}


p.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}


.variable-list .v-list-item{
  display: none;
}

.variable-list .v-list-item.text-red{
  display: grid;
}
.v-navigation-drawer--is-hovering .variable-list .v-list-item {
  display: grid;
}
</style>